<h2>Ingreso de Libros</h2>

<div class="col-md-3 mt-5">
  <form action="/addbooks" method="post">
    <div class="mb-3">
      <label class="form-label" for="name">Titulo:</label>
      <input class="form-control" type="text" id="name" name="title"/>
    </div>
    <div class="mb-3">
      <label class="form-label" for="author">Autor:</label>
      <input class="form-control" type="text" id="author" name="author"/>
    </div>
    <div class="mb-3">
      <label class="form-label" for="year">Año:</label>
      <input class="form-control" type="text" id="year" name="year"/>
    </div>
    <button class="btn btn-primary w-100" type="submit" >Ingresar</button>


  </form>

</div>